
<%= form_for([@blog, @blog.comments.build]) do |f| %>
	<p>

		<%= f.text_field :name, placeholder: 'Name' %>
	</p>

	<p>
		<%= f.text_area :body, placeholder: 'Leave a comment' %>
	</p>

	<p>
		<%= f.submit :submit, id: 'submit-comment' %>
	</p>
<% end %>
