// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
    font-family: 'tangerine';
    src: url(https://fonts.gstatic.com/s/tangerine/v7/HGfsyCL5WASpHOFnouG-RJBw1xU1rKptJj_0jans920.woff2);
}

@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Josefin Sans'), local('JosefinSans'), url(https://fonts.gstatic.com/s/josefinsans/v9/C6HYlRF50SGJq1XyXj04z0ZRWJQ0UjzR2Uv6RollX_g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.scroll-container{
	overflow: hidden;
}

.show-wrap{
    background: #F9F9F9;
    padding: 30px 50px 18vh;
    width: 70%;
    margin: 70px auto 250px;

    .tags{
        width: 100%;
        background-color: rgba(255, 255, 255, 0.1);
        padding: 5px 10px;
        margin: 10px 5px;
        border-radius: 5px;
        color: #ED5124;

        a{
            color: #F9F9F9;
            background: #3AC2E9;
            padding: 9px 14px;
            border-radius: 2px;
            display: inline-block;
            margin-top: 4px;
            border: 1px solid #3AC2E9;
            &:hover{
                text-decoration: none;
                background: #fff;
                color: #3AC2E9;
            }
        }
    }

    .edit-blog{
        float: right;
    }

    .show-content{
        p{
            line-height: 38px;
            font-size: 15px;
            margin-bottom: 30px;

            @media (max-width: 768px) {
                line-height: 27px;
                font-size: 14px;
                margin-bottom: 17px;
                text-align: center;
            }
        }
    }

    .blog-show-title {
    text-align: center;
    font-weight: 100;
    font-family: tangerine;
    font-size: 55px;
    border-bottom: 1px solid #3AC2E9 !important;
    margin: -3px auto 10px;
}

.blog-show-image{
    float: left;
    margin-right: 30px;
    margin-bottom: 20px;
    width: 50%;
    border: 8px solid #555555;
}

.leave-comment{

    #comment_name{
            border-radius: 4px;
        outline: none;
        height: 50px;
        width: 80%;
        border: 1px solid #BDBDBD;
        padding-left: 12px;
    }
    #comment_body{
        border-radius: 4px;
        outline: none;
        height: 300px;
        width: 80%;
        border: 1px solid #BDBDBD;
        padding-left: 12px;
    }

    #submit-comment{
            border-radius: 4px;
        outline: none;
        height: 53px;
        color: white;
        width: 210px;
        border: 1px solid #3AC2E9;
        background: #3AC2E9;
        font-size: 21px;
        font-weight: 100;
    }

    @media (max-width: 768px) {
        #comment_name, #comment_body{
            width: 100%;
        }

    }

}

.comment-form{
        // text-align: center;
    .leave-comment{
        text-align: center;
    }
}

    @media (max-width: 1500px) {
        width: 90%;
        
    }
    @media (max-width: 768px) {
        width: 98%;
        padding: 10px 18px 18vh;
        margin: 0px auto 116px;

        .blog-show-image {
            width: 100%;
            border: 3px solid #555555;
        }
        .tags{
            text-align: center;
        }
        
    }
}

.image-overlay{
    background: rgba(0, 0, 0, 0.5);
    width: 93%;
    height: 100%;
    position: absolute;
    z-index: 236;
    display: block;
    top: 100%;
    padding-top: 18%;
    transition: all 300ms;

    .share-icon{
        font-size: 50px;
        margin-right: 30px;
        display: inline-block;
        &:last-child{
            margin-right: 0;

        }
        &:hover{
            color: #3AC2E9;
        }
    }

    h4{
        display: inline-block;
        padding: 10px;
        &:hover{
            color: #3AC2E9;
        }
    }
}





.posts-wrap{

.in{
    top: 0
}
    .image-container{
    height: 180px;
    overflow: hidden;
    margin-bottom: 10px;
    }

    a{
        &:hover{
            text-decoration: none;
        }
    }



  .scroller{
    background: red;
    width: 4%;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    height: 4px;
    position: fixed;
    left: 0;
    z-index: 999999999999999;
    display: none;
  }

  .read-more{
        display: inline-block;
        border: 1px solid white;
        padding: 11px 26px;
        position: relative;
        border-radius: 2px;
        color: white;

        &:hover{
            // border: 1px solid red;
            color: #3AC2E9;
            background: white;
        }
    }

    .blog-title{
        font-family: tangerine;
        font-size: 41px;
        margin-top: 7px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        color: #4A4A4A;

        &:hover{
            text-decoration: none;
            border: none;
        }
    }
    .blog-content{
        padding: 0;
        font-family: roboto;
        font-weight: 400;
        text-align: left;
        font-size: 15px;
        line-height: 25px;
        color: #4A4A4A;
    }








}


.site-container {
      // Fixed-position background image
  &::before {
    content: ' ';
    position: fixed; // instead of background-attachment
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    background-size: 434px, cover;
    background-position: top center, center;
    background-repeat: no-repeat;
    background-image: url(http://danikakayelle.com/wp-content/uploads/2015/02/dkayelle2.png),
     url(https://newevolutiondesigns.com/images/freebies/colorful-background-13.jpg);

    background-image: url(http://danikakayelle.com/wp-content/uploads/2015/02/dkayelle2.png),
     url(http://images.freecreatives.com/wp-content/uploads/2015/03/Huge-Backgrounds-26.jpg);

     background-image: url(http://danikakayelle.com/wp-content/uploads/2015/02/dkayelle2.png),
     url(http://argushd.com/wp-content/uploads/2016/03/Abstract-Backgrounds-Website-Background-Blue-Wallpaper-1920x1080.jpg);

    background-image: url(http://danikakayelle.com/wp-content/uploads/2015/02/dkayelle2.png),
     url(http://www.incomeactivator.com/images/freebg1.jpg);

    background-image: url(http://danikakayelle.com/wp-content/uploads/2015/02/dkayelle2.png),
     url(http://www.walldevil.com/wallpapers/a63/beautiful-background-sphere-website-backgrounds-different.jpg);

     background-image: url(http://danikakayelle.com/wp-content/uploads/2015/02/dkayelle2.png),
     url(http://www.munciehighstreet.com/wp-content/uploads/2014/05/website-background-wincustomize-explore-clouds-284048.jpg);


    will-change: transform; // creates a new paint layer
    z-index: -1;
  }

    .container{
        width: 100%;
        padding: 0;
        top: 93px;
        position: relative;
    }

  @media (max-width: 768px) {
    &::before{
        background-size: 90%, cover;
    }

    .container{
        top: 48px;
    }


      
  }


    
    
    
    
}




.navbar-default {
    background-color: #3AC2E9;
    border: none !important;
    position: fixed;
    width: 100%;
    bottom: 0;
    margin-bottom: 0;
        z-index: 9999;
    border-radius: 0;
    height: 8vh;
    // background: url(http://danikakayelle.com/wp-content/uploads/2015/02/dkayelle2.png), #3AC2E9 no-repeat center;
    background: #3AC2E9 ;
    background-repeat: no-repeat;
    background-size: 282px;
    background-position: left center;


    .navbar-nav{
		margin: 0 auto;
		width: 100%;
		max-width: 741px;
		float: none;
		display: flex;
		justify-content: space-around;
        align-items: center;


		li{

			a{
				color: #FFF;
			    text-transform: capitalize;
			    font-family: 'Josefin Sans';
			    font-size: 30px;
			    padding: 2vh;
			    font-weight: lighter;

				&:hover{
					color:red;
				}
			}
		}
    }

   @media (max-width: 768px){

        .navbar-nav{
            li{

                a{
                    font-size: 24px;
                }
            }
        }

   }

}



.pagination {
    display: block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
    clear: both;
}




.posts-container{
    // background-color: rgba(255, 255, 255, 0.1);
    padding: 28px 0px;
        width: 300vw;
    // color: white;

    a{
    	&:hover{
			text-decoration: none !important;
	    }

    }

    .blog-title{
    	text-align: center;
    	font-weight: 600;
	    font-family: tangerine;
	    font-size: 37px;
	    border-bottom: 1px solid #3AC2E9 !important;
	    display: block;
	    margin-bottom: 10px;
	    margin-top: 10px;

    }

    

    .read-more{
		border: 1px solid white;
		padding: 12px;
		display: inline-block;
		margin-top: 42px;
		background: white;
		color: #3AC2E9;

		&:hover{
			color: red;
	    }
    }

    .post-image{
		margin: 0 auto;
		display: block;
		width: 100%;
    }

	.posts-wrap{
    margin: 8px 40px;
    width: 420px;
    padding: 17px;
    background: #3AC2E9;
    border-radius: 4px;
	}

	

	.tags{
		width: 100%;
		background-color: rgba(255, 255, 255, 0.1);
		padding: 5px 10px;
		margin: 10px 5px;
		border-radius: 5px;
		color: #ED5124;

		a{
			color: #ED5124;
		}
	}


	

	button{
		background-color: #5CB85C;
		    border-color: #4cae4c;


		&:hover{
			background-color: #478C47;
			    border-color: #4cae4c;
		}
	}

}

.side_bar{

	margin-left: 20px;
	width: 34%;
	color: white;
	a{
		color: white;
	}


    .about-the-author{
	width: 100%;
}



	.side-bar-section{
		background-color: rgba(255, 255, 255, 0.1);
		padding: 20px;
		margin-bottom: 20px;

	}

	#tag_cloud{
		width: 100%;
		line-height: 1.6em;
		.s{font-size: 0.8em;}
		.m{font-size: 1.2em;}
		.l{font-size: 1.8em;}
	}
}




header{
	background: url(http://danikakayelle.com/wp-content/uploads/2015/02/dkayelle2.png) no-repeat center;
	height: 350px;
}
